*,
*::before,
*::after {
  /* Remedies CSS regrets */
  box-sizing: border-box;
  /* Undoes browser auto-formats */
  margin: 0;
  padding: 0;
  /* Nifty object highlighting tool: */
  /* border: 1px solid red; */
}

body {
  font-family: monospace;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
}

.title__bar {
  padding: 1rem 1rem;
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: center;
}

.nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
  display: block;
}

.nav__link:hover {
  color: #000;
  background-color: #fff;
  animation: wiredB2 1s ease-out infinite;
  text-decoration: underline;
}

.nav__link--disabled {
  background-color: #fff;
  color: #000;
  cursor: default;
}

.nav__link--disabled:hover {
  background-color: #fff;
  text-decoration: none;
}
